img2pdf>=0.4.4
keyboard>=0.13.5
opencv_python>=4.6.0.66
Pillow>=9.5.0
psutil>=5.9.4
PyAudio>=0.2.13
pynput>=1.7.6
pyttsx3>=2.90
pywin32>=305
pyWinhook>=1.6.2
win11toast>=0.32
win32gui>=221.6
win32security>=2.1.0
WMI>=1.5.1
